form{
    width: 100% ;
    display: flex;
    flex-direction: column;
    gap: 44px;
}
img{
    height: 20px;
    border-radius: 0 8px 8px 0;
    color: black;
}

form span{
    font-size: 14px;
    text-decoration: underline;
    color: purple;
    text-align: end;
    margin-bottom: 15px;
}
