<main>
    <section class="form-section">
        <img src="https://logowik.com/content/uploads/images/lorem-lorem7797.logowik.com.webp"/>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="login-btn" (click)="submit()"
            [disabled]="disablePrimaryBtn"
            >{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
            <button class="signup-btn" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>You should, MoveIt!!</h1>
    
        <img src="https://img.lovepik.com/png/20231118/sticker-with-a-boy-with-skateboard-riding-the-board-clipart_631520_wh860.png" alt=""/>
    </section>
</main>