<main>
    <section class="form-section">
        <img src="https://logowik.com/content/uploads/images/lorem-lorem7797.logowik.com.webp"/>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="login-btn" (click)="submit()"
            [disabled]="disablePrimaryBtn"
            >{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
            <button class="signup-btn" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>You should, MoveIt!!</h1>
    
        <img src="https://files.oaiusercontent.com/file-Jm8QezpirhWGaiFLMUdb2o?se=2025-03-03T10%3A43%3A18Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D66691b21-50e2-4c2e-a6ca-0a920dc17f4d.webp&sig=GYqwOasdk644mCFjsO%2BapdOxrQ5vovtGHShxggjx%2BsI%3D" alt=""/>
    </section>
</main>